<!DOCTYPE html>
<html>
  <head>
    <title>VISUALEMOTION/request</title>
    <%= stylesheet_link_tag    'request', 'data-turbolinks-track' => true %>

    <!-- メニューバー　-->
<p id="backhome"><%= link_to 'Home', 'top' %></p>
<p id="terms_of_conditions"><%= link_to 'Terms of Conditions', 'law' %></p>
      <!-- メニューバー　-->

    <div class="page-header">
      <h1>REQUEST</h1>
      <br>  
    </div>
  </head>
 
  <body>
  <%= form_for @request, :url => request_thanks_path do |f| %>

    <p>タイトル</p>
    <%= f.hidden_field :title %>
    <span><%= @request.title %><span>
    <p>ジャンル</p>
    <%= f.hidden_field :category %>
    <span><%= @request.category %><span>
    <p>参考URL</p>
    <%= f.hidden_field :book_url %>
    <span><%= @request.book_url %><span>
    <p>MESSAGE</p>
    <%= f.hidden_field :message %>
    <span><%= @request.message %><span>
    <p>NAME</p>
    <%= f.hidden_field :name %>
    <span><%= @request.name %><span>
    <p>EMAIL</p>
    <%= f.hidden_field :email %>
    <span><%= @request.email %><span>
    <br>  
    <br>
    <%= f.submit 'SEND!', :class => "button", disable_with: "SENDING..." %>
    <% end %>

  </body>
</html>


