<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>

<h1>Visual Emotion Book List</h1>

<!-- tag_list -->


</div>

<table class="table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Image1</th>
      <th>Image2</th>
      <th>Image3</th>
      <th>Amazon link</th>
      <th>Category</th>
      <th>Note</th>
      <th>Delflg</th>
      <th>tag</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.image1 %></td>
        <td><%= image_tag "/docs/#{book.image1}", width: "50px" %></td>   <!-- 式展開 -->    
        <td><%= book.image2 %></td>
        <td><%= book.image3 %></td>
        <td><%= book.amazon_link %></td>
        <td><%= book.category_id %></td>
        <td><%= book.note %></td>
        <td><%= book.del_flg %></td>
        <td><%= raw book.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
        <!-- <p>Tags:  <%= book.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p> -->

        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div class="actions">
<%= link_to 'New Book', new_book_path, {:class => "makenew"} %>
</div>

  
</body>
</html>

