<!DOCTYPE html>
<html>
  <head>
    <title>VISUALEMOTION/contact</title>
    <%= stylesheet_link_tag    'contact', 'data-turbolinks-track' => true %>

    <!-- メニューバー　-->
<p id="backhome"><%= link_to 'Home', 'top' %></p>
<p id="terms_of_conditions"><%= link_to 'Terms of Conditions', 'law' %></p>
      <!-- メニューバー　-->

  </head>
 
  <body>
    <h1>CONTACT</h1>
    <br>  
    <br>

  <%= form_for @contact, :url => contact_thanks_path do |f| %>

    <p class="confirm_field">NAME<%= f.hidden_field :name %></p>
    <p class="confirm_text"><%= @contact.name %></p>
    <br>
    <p class="confirm_field">EMAIL<%= f.hidden_field :email %></p>
    <p class="confirm_field"><%= @contact.email %></p>
    <br>  
    <p class="confirm_field">MESSAGE<%= f.hidden_field :message %></p>
    <p class="confirm_field"><%= simple_format(@contact.message) %></p>
    <br>
    <%= f.submit 'SEND!', :class => "button", disable_with: "SENDING..." %>
    <% end %>

  </body>
</html>


  