<!DOCTYPE html>
<html>
  <head>
    <title>Visualemotion</title>
    <%= stylesheet_link_tag    'contact', media: 'all', 'data-turbolinks-track' => true %>

    <!-- メニューバー　-->
    <p id="backhome"><%= link_to 'Home', 'top' %></li>
      <!-- メニューバー　-->

    <div class="page-header">
      <h1>CONTACT</h1>
      <br>  
      <br>
    </div>
  </head>
 
  <body>
  <%= form_for @contact, :url => contact_thanks_path do |f| %>
    <p>NAME</p>
    <%= f.hidden_field :name %>
    <span><%= @contact.name %><span>
    <br>  
    <br>
    <p>EMAIL</p>
    <%= f.hidden_field :email %>
    <span><%= @contact.email %><span>
    <br>  
    <br>
    <p>MESSAGE</p>
    <%= f.hidden_field :message %>
    <span><%= simple_format(@contact.message) %><span>
    <br>  
    <br>
  </body>
</html>
  
  <%= f.submit 'SEND!', disable_with: "SENDING..." %>
 <!--  <%= f.submit 'SEND!', :class => 'btn btn-primary' %> -->

<% end %>
  