<!DOCTYPE html>
<html>
<head>
   <title>VISUALEMOTION/contact</title>
   <%= stylesheet_link_tag    'contact', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'vendor', 'data-turbolinks-track' => true %>
<!--    <%= csrf_meta_tags %>

<!--    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
<!--    // <script type="text/javascript" src="//typesquare.com/accessor/script/typesquare.js?4XU2G~E0OwQ%3D" charset="utf-8"></script> -->



<%= form_for @contact, :url => contact_confirm_path do |f| %>

<!-- メニューバー　-->
<p id="backhome"><%= link_to 'Home', 'top' %></p>
<p id="terms_of_conditions"><%= link_to 'Terms of Conditions', 'law' %></p>
  <!-- メニューバー　-->
<br>
    <h1>CONTACT</h1>
</head>

  <% if @contact.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% @contact.errors.each do |attr, msg| %>
　　　　　<li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<body>
  <br>
  <br>
  <p>NAME</p>
  <%= f.hidden_field :name %>
  <%= f.text_field :name, :class=>"text" %>
  <br>
  <br>
  <p>EMAIL</p>
  <%= f.hidden_field :email %>
  <%= f.text_field :email, :class=>"text" %>
  <br>  
  <br>
  <p>MESSAGE</p>
  <%= f.hidden_field :message %>
  <%= f.text_area :message, :class=>"text", :size=>"40x5" %>
  <br>
  <br>

  
  <br>
  <div id="box"><%= f.submit 'CONFIRM', :class => "button" %></div>
  <% end %>

</body>

<html>


