<!DOCTYPE html>
<html>
<head>
  <title>Visualemotion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="C">
      <header>
        <div class="header">
        <div class="header-left">MENU</div>
        <div class="header-middle">VISUAL</br>EMOTION</div>
        <div class="header-right">
          <%= link_to "ABOUT", "#", class: "aboutlink" %>
        </div>
    </header>
      <h1>美意識に、革命を。</h1>
      <h2>たっと一目で、あなたの価値観に衝撃を与える写真集が、ここにある。</h2>
    </div>



  <div class="category">
	<ul>
	  <li>ART</li>
	  <li>HUMAN</li>
	  <li>VIEW</li>
	  <li>OTHER</li>
	</ul>
  </div>

<%= yield %>

</body>
</html>
